

@use 'src/common-styles/common';


/*

Вынести части:

row:
    display: flex;
    flex-flow: row nowrap;

center:
    display: grid;
    align-content: center;
    justify-content: center;

absolute:
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

 */


.mainFrame {
    position: relative;

    @include common.border(1px, solid, #8B8B8B, 4px); // Gray Middle // todo extract into props

    &Error {
        border: 1px solid #EE1D23; // Red // todo extract into props
    }

    @include common.row;
}





.title {
    position: absolute;
    top: -4px; left: 8px;
    padding: 0 6px 0 6px;
    color: #424041; // Gray // todo extract into props
    background: #FCFCFC; // todo extract into props
    pointer-events: none;
    font: 400 12px 'Roboto';
}

.placeholderContainer {
    @include common.abs;
    left: 14px;
    display: grid;
    align-content: center;
    //justify-content: center;
    pointer-events: none;

    .placeholder {
        color: black; // todo extract into props
        background: transparent;
        font: 400 16px 'Roboto';
        pointer-events: none;
        padding-bottom: 5px;
    }
}



.inputContainer {
    position: relative;
    flex-grow: 1; height: 100%;
    padding-left: 14px;

    input {
        all: unset;
        box-sizing: border-box;
        width: 100%; height: 100%;
        font-size: 16px;
        padding-bottom: 5px;
        //vertical-align: super;
        //background: red;
    }
}

.eyeContainer {
    aspect-ratio: 1; height: 100%;
    @include common.center;
    cursor: pointer;
}