
@use 'src/common-styles/common';


.mainFrame {
    padding: 20px;
    @include common.column;
    gap: 20px;
}


.card {
    width: 613px; height: 171px;
    background: #424041; // Gray1 todo extract
    //@include common.border(0, solid, none, 4px);
    border-radius: 4px;
    overflow: hidden;
    @include common.row
}

.content {
    flex-grow: 1; height: 100%;
    @include common.column;
    padding: 16px;
    justify-content: space-between;
}
.photo {
    aspect-ratio: 1; height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.cardBottom {
    @include common.row;
}
.eyeIcBox {
    height: 20px;
    @include common.center
}